.banner-style-six-area{
    background-image: url(banner.jpg);
    overflow: auto;
}
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
}
.container-fluid{
    max-width: 1250px;
}
.navbar-brand{
    img{
        height: 60px;
    }
}
.banner-style-six h2 {
    font-size: 90px;
    line-height: 1;
    font-weight: 600;
    margin-bottom: 25px;
}
.banner-style-six h2 strong {
    font-weight: 600;
    text-transform: capitalize;
    color: var(--main-bg-color);
}
:root {
    --main-bg-color: #ff8a43;
}
.banner-style-six-area {
    padding-top: 150px;
    padding-bottom: 130px;
}
.information{
    font-size: 22px;
    line-height: 1.7;
}
.banner-style-six form {
    border: 2px solid;
    border-radius: 10px;
    position: relative;
    margin-top: 35px;
}
.form-control{
    font-size: 1.2rem;
}
.banner-style-six .thumb img:first-child {
    z-index: 1;
    position: relative;
}
.elementor img {
    height: auto;
    max-width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: none;
}
.mb-3{
    button{
        position: relative;
        top: 22px;
        background: var(--dark);
    }
}